<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container">
    <div class="d-flex align-items-center">
      <div class="brand-text me-3">
        <p class="brand-main m-0">General</p>
        <p class="brand-sub m-0">Project</p>
      </div>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <i class="fas fa-bars text-white"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link nav-link-custom active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom" href="#">Find a Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom" href="#">About Us</a>
        </li>
      </ul>

      <div class="d-flex auth-buttons">
        <button class="btn btn-outline-light me-2" routerLink="/Auth/Login">Login</button>
        <button class="btn btn-primary">Sign Up</button>
      </div>
    </div>
  </div>

</nav>
