    <div class="subscribe-container col-12 m-0 p-0 mb-4">
      <p class="fw-bold fs-3 default-color m-0 mb-3">SUBSCRIBE</p>
      <p class="fw-bold fs-4 text-dark m-0 mb-1">
        Subscribe To Get The Latest News About Us
      </p>
      <p class="fw-600 fs-5 text-secondary opacity-75 m-0">
        Please Drop Your Email Below To Get Daily Update About What We Do
      </p>
      <div class="email-container mt-3">
        <input type="email" class="input-mail" placeholder="Enter Your Email Address">
        <button type="submit" class="default-btn">Subscribe</button>
      </div>
    </div>
