  <footer class="footer">
    <div class="footer-container col-lg-4 col-md-4 col-sm-12 col-12 order-lg-1 order-md-1 order-sm-3">
      <div class="d-flex flex-column align-item-start justify-content-center">
        <p class="text-white m-0 mb-1 fw-600 opacity-75">
          Copyright © 2020 Nexcent ltd.
        </p>
        <p class="text-white m-0 mb-1 fw-600 opacity-75">
          All rights reserved
        </p>
        <div class="row mt-4">
          <div class="icon-container">
            <i class="fab fa-instagram"></i>
          </div>
          <div class="icon-container">
            <i class="fab fa-dribbble"></i>
          </div>
          <div class="icon-container">
            <i class="fab fa-twitter"></i>
          </div>
          <div class="icon-container">
            <i class="fab fa-youtube"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-container col-lg-4 col-md-4 col-sm-12 col-12 order-lg-2 order-md-2 order-sm-2">
      <div class="row col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="flex-column col-lg-6 col-md-6 col-sm-6 col-6">
          <p class="fw-bold fs-5 text-white footer-title">Company</p>
          <ul class="list-unstyled">
            <li class="nav-item"><a href="#" class="nav-link text-white mb-2">About us</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white mb-2">Blog</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white mb-2">Contact us</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white mb-2">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white mb-2">Testimonials</a></li>
          </ul>
        </div>
        <div class="flex-column col-lg-6 col-md-6 col-sm-6 col-6">
          <p class="fw-bold fs-5 text-white footer-title">Support</p>
          <ul class="list-unstyled">
            <li class="nav-item"><a href="#" class="nav-link text-white mb-2">Help Center</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white mb-2">Terms of service</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white mb-2">Legal</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white mb-2">Privacy policy</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white mb-2">Status</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-container col-lg-4 col-md-4 col-sm-12 col-12 order-lg-3 order-md-3 order-sm-1">
      <div class="flex-column">
        <p class="fw-bold fs-4 text-white footer-title">Stay up to date</p>
        <div class="stay-container">
          <input type="text" class="stay-input " placeholder="Email Address">
          <i class="fa-regular fa-paper-plane"></i>
        </div>
      </div>
    </div>
  </footer>
