<div class="container mt-5 mb-5">
  <!-- What Makes Us Different ? -->
  <section class="flex-column col-12 m-0 p-0 mb-5">
    <div class="row col-lg-5 col-md-5 col-sm-12 col-12">
      <p class="fw-600 fs-5">What Makes Us <span class="d-block">Different?</span></p>
      <p class="fw-normal opacity-75 text-secondary">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non fuga voluptatibus iste alias vero
        omnis
        qui ipsum modi, nisi optio!
      </p>
    </div>
    <div class="row col-12 justify-content-center flex-wrap" id="card-row">
      <div class="different-card border border-2 shadow-sm m-2">
        <img src="assets/images/Heart.png" class="card-img">
        <p class="fw-bold fs-5 mt-3">Lorem, ipsum.</p>
        <p class="fw-semibold opacity-50">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis, esse!
        </p>
      </div>
      <div class="different-card border border-2 shadow-sm m-2">
        <img src="assets/images/Work.png" class="card-img">
        <p class="fw-bold fs-5 mt-3">Lorem, ipsum.</p>
        <p class="fw-semibold opacity-50">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis, esse!
        </p>
      </div>
      <div class="different-card border border-2 shadow-sm m-2">
        <img src="assets/images/Activity.png" class="card-img">
        <p class="fw-bold fs-5 mt-3">Lorem, ipsum.</p>
        <p class="fw-semibold opacity-50">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis, esse!
        </p>
      </div>
    </div>
  </section>

  <div class="br-line mb-5"></div>

  <section class="flex-column col-12 m-0 p-0 mb-4">
    <div class="row col-lg-5 col-md-5 col-sm-12 col-12">
      <p class="fw-600 fs-5">Our Excellent <span class="d-block">Services</span></p>
      <p class="fw-normal opacity-75 text-secondary">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non fuga voluptatibus iste alias vero
        omnis
        qui ipsum modi, nisi optio!
      </p>
    </div>
    <div class="row col-12 justify-content-center flex-wrap mt-4 gap-3">
      <div class="excellent-card m-0 p-0">
        <div class="row col-12 h-75 excellent-card-img-container m-0 p-0">
          <img src="assets/images/pexels-pixabay-209251.png" alt="">
        </div>
        <div class="row col-12 h-25 mt-3">
          <p class="fw-600 fs-5">
            Lorem, ipsum.
          </p>
          <p class="fw-600 fw-600 opacity-75">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nobis, maiores quibusdam illo
            itaque hic.
          </p>
        </div>
      </div>
      <div class="excellent-card m-0 p-0">
        <div class="row col-12 h-75 excellent-card-img-container m-0 p-0">
          <img src="assets/images/pexels-alesia-kozik-6016680 1.png" alt="">
        </div>
        <div class="row col-12 h-25 mt-3">
          <p class="fw-600 fs-5">
            Lorem, ipsum.
          </p>
          <p class="fw-600 fw-600 opacity-75">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nobis, maiores quibusdam illo
            itaque hic.
          </p>
        </div>
      </div>
      <div class="excellent-card m-0 p-0">
        <div class="row col-12 h-75 excellent-card-img-container m-0 p-0">
          <img src="assets/images/pexels-tobias-bjørkli-2119714 1.png" alt="">
        </div>
        <div class="row col-12 h-25 mt-3">
          <p class="fw-600 fs-5">
            Lorem, ipsum.
          </p>
          <p class="fw-600 fw-600 opacity-75">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nobis, maiores quibusdam illo
            itaque hic.
          </p>
        </div>
      </div>
    </div>
  </section>


</div>
