<div class="hero-container m-0 p-0">
  <div class="row col-12 h-100 p-0 m-0">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 order-lg-1 order-md-1 order-sm-2 h-100">
      <div class="d-flex flex-column align-items-center justify-content-center p-5 h-100">
        <div class="col-lg-8 col-md-8 col-sm-12 col-12 flex-column">
          <p class="fw-600 fs-2 text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Temporibus
          </p>
          <p class="fs-5 opacity-50 text-white">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis et, nihil in id
            magnam
            quo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, hic.
          </p>
          <button class="hero-btn">Discover More</button>
          <div class="row col-12 m-0 p-0 gap-3 mt-5">
            <div class="col-lg-3 col-md-4 col-sm-12 col-12 m-0 p-0 flex-column">
              <p class="fw-600 fs-1">300<span class="fw-bold fs-1 text-primary">+</span></p>
              <p class="fw-bold fs-5 opacity-75">Happy Client</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-12 m-0 p-0 flex-column">
              <p class="fw-600 fs-1">900<span class="fw-bold fs-1 text-primary">+</span></p>
              <p class="fw-bold fs-5 opacity-75">Amazing Projects</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-12 m-0 p-0 flex-column">
              <p class="fw-600 fs-1">20<span class="fw-bold fs-1 text-primary">+</span></p>
              <p class="fw-bold fs-5 opacity-75">Awards Wining</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 order-lg-2 order-md-2 order-sm-1 hero-image-container text-center">
      <img src="assets/images/bulding.png" class="hero-image img-fluid">
    </div>
  </div>
</div>
